<br><br><br>
<div class="ui container fade-in">
  <div class="ui form">
    <div class="fields">
      <div class="field">
        {{input id="activeinput" type="text" value=model.name placeholder="Bootsname"}}
      </div>
      <div class="field">
        {{input type="text"value=model.crew placeholder="Crew"}}
      </div>
      <div class="field">
        {{input type="text" value=model.broiler placeholder="Anzahl der Broiler"}}
      </div>
      <div class="field">
        {{input type="text" value=model.breakfast placeholder="Anzahl Frühstück"}}
      </div>
      <div class="ui right floated small primary labeled icon button field" {{action 'saveAndGetBack'}}>
        <i class="save icon"></i> Save
      </div>
    </div>
  </div>
</div>
<br>
<br>
