<div class="ui container">
	<div class="ui one column stackable grid">
		<div class="wide column">
			
			<div class="ui container rsc-back">
				<p class="rsc-back-broiler">{{sum}}</p>
				<p class="rsc-back-coffee">{{breakfastSum}}</p>
				<p style="clear: both"></p>
			</div>
			{{paymentsCount}}
			{{outlet}}
			
			<div class="ui container">
				<table class="ui celled striped table">
					{{#if isDirty}}
					{{else}}
					<thead class="full-width">
    				<tr>
      				<!-- <th></th> -->
      				<th colspan="6">
        				<div class="ui right floated small primary labeled icon button {{disabled}}" {{action 'addNew'}}>
          				<i class="plus icon"></i> Boot hinzufügen
        				</div>
      				</th>
    				</tr>
 					</thead>
					{{/if}}
					<tbody>						
						{{entry-loop data=list isDirty=isDirty update=(action "update") delete=(action "delete") cancelEditing=(action "cancelEditing")}}
					</tbody>
					
				</table>
			</div>
		</div>
	</div>
</div>

{{#ui-modal name="profile" class="profile" onApprove=(action 'approveModal') onDeny=(action 'denyModal')}}
  <div class="header">
    Eintrag löschen
  </div>
  <div class="image content">
    <div class="description">
      <p>Du hast einen Eintrag zum Löschen ausgewählt.</p>
      <p>Soll er wirklich gelöscht werden?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
			Abbrechen
    </div>
    <div class="ui positive right labeled icon button">
      OK, wirklich löschen!
      <i class="checkmark icon"></i>
    </div>
  </div>
{{/ui-modal}}